.container {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.container-inner {
    margin: 64px 80px;
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.search-wrapper {
    width: 100%;
    height: 48px;
    border: 1px solid #d4defe;
    border-radius: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.search__text {
    width: 100%;
    outline: none;
    margin-left: 15px;
}

.search__image {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.item-wrapper {
    min-width: 350px;
    min-height: 300px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;

    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.item__name {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #262c40;
}

.contacts-wrapper {
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.item__number, .item__mail {
    display: flex;
    align-items: center;
    gap: 14px;

    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #8189a3;

}

.icon-box {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box img {
    width: 20px;
    height: 20px;
    display: block;
}


/*UserCard*/

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 2;
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    padding: 24px 24px 64px 24px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #262c40;
}

.card__cancel{
    cursor: pointer;
}
.card__description {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.card-number-wrapper,
.card-mail-wrapper,
.card-data-wrapper,
.card-job-wrapper,
.card-division-wrapper {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 16px;
    align-items: start;
}

.card-number-wrapper > :last-child,
.card-mail-wrapper > :last-child,
.card-data-wrapper > :last-child,
.card-job-wrapper > :last-child,
.card-division-wrapper > :last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8189a3;
}

.card__info{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.info-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #262c40;
    margin-bottom: 12px;
}
.info-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 113%;
    color: #8189a3;
}